[package]
name = "lycoris"
version = "0.9.11"
description = "Lycoris is an offline voice memo"
authors = ["solaoi"]
license = "MIT"
repository = "https://github.com/solaoi/lycoris"
default-run = "lycoris"
edition = "2021"
rust-version = "1.68"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.2.1", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.2.5", features = ["api-all"] }
vosk = "0.1.0"
cpal = "0.14.0"
dasp = "0.11"
unicode-segmentation = "1.9.0"
once_cell = "1.13.1"
crossbeam-channel = "0.5.6"
chrono = "0.4.22"
hound = "3.4.0"
rusqlite = "*"
samplerate-rs = "0.1.0"
# download model and openai request
reqwest = { version = "0.11", features = ["stream", "multipart", "json"] }
tokio = { version = "1", features = ["full"] }
futures-util = "0.3.26"
# serve audio
urlencoding = "2.1.0"
# screencapturekit = "0.2.7"
# fix thread crash
screencapturekit = { git = "https://github.com/solaoi/screencapturekit-rs" }
xcap = "0.0.8"
# permission
macos-accessibility-client = "0.0.1"
core-graphics = "0.23.1"
objc = "0.2"
objc-foundation = "0.1"
objc_id = "0.1"

[target.'cfg(target_arch = "x86_64")'.dependencies]
whisper-rs = { version = "0.11.1", features = ["metal"] }
[target.'cfg(target_arch = "aarch64")'.dependencies]
whisper-rs = { version = "0.11.1", features = ["metal", "coreml"] }

[dependencies.tauri-plugin-sql]
git = "https://github.com/tauri-apps/plugins-workspace"
branch = "v1"
features = ["sqlite"]
[dependencies.tauri-plugin-window-state]
git = "https://github.com/tauri-apps/plugins-workspace"
branch = "v1"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
