@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow-y: clip;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        transform-origin: 0 -1.25rem;
        transform: scale(1, 0);
        opacity: 0;
    }
}

@keyframes fadeInDown {
    from {
        transform-origin: 0 1.25rem;
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform-origin: 0 1.25rem;
        transform: scale(1, 1);
        opacity: 1;
    }
}

.scrollbar-transparent::-webkit-scrollbar {
    display: none;
}

.znc ul {
    margin: 0;
}

.collapse,.collapse-content {
    visibility: inherit!important;
}