@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent !important;
}

body {
    overflow-y: clip;
    border-radius: 10px;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        transform-origin: 0 -1.25rem;
        transform: scale(1, 0);
        opacity: 0;
    }
}

@keyframes fadeInDown {
    from {
        transform-origin: 0 1.25rem;
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform-origin: 0 1.25rem;
        transform: scale(1, 1);
        opacity: 1;
    }
}

.scrollbar-transparent::-webkit-scrollbar {
    display: none;
}

.chat-start .znc ul,
ol,
p+p,
blockquote,
table,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

.znc ul,
ol,
p+p,
blockquote,
table,
h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
}

.znc hr {
    width: 100%;
    margin: 1.5rem 0 !important;
}

.znc p {
    overflow-wrap: anywhere;
}

.znc pre {
    width: 100%;
    background-color: #adadad;
    white-space: pre-wrap;
}

.znc pre:has(.lang-mermaid) {
    background-color: initial;
}

.memo .znc ul {
    margin: 0;
}

.memo .znc p,h1,h2,h3,h4,h5,h6 {
    padding-left: 0.5rem;
}

.szh-menu {
    padding: 0;
}

.szh-menu-container ul {
    padding-left: 0;
    width: max-content;
}

.collapse,
.collapse-content {
    visibility: inherit !important;
}

.tab-lifted {
    &::before {
        background-image: none !important;
    }

    &::after {
        background-image: none !important;
    }
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
    background-color: hsl(var(--b3) / var(--tw-bg-opacity));
}

.radio.checked {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--bc) / var(--tw-bg-opacity));
    animation: radiomark var(--animation-input, 0.2s) ease-out;
    box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset;
}

.radio-accent.checked {
    --tw-border-opacity: 1;
    border-color: hsl(var(--a) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--a) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--ac) / var(--tw-text-opacity));
}

.chat-bubble:has(.suggest-card) {
    width: fit-content;
}

.settings .menu li>*:not(ul):not(.menu-title):not(details):active,
.menu li>*:not(ul):not(.menu-title):not(details).active,
.menu li>details>summary:active {
    color: hsl(var(--bc));
    background-color: hsl(var(--b1));
    cursor: default;
}

.jer-input-component,
.jer-bracket-open,
.jer-collection-item-count {
    cursor: pointer;
}

main {
    background-color: hsl(var(--b1));

    ::-webkit-scrollbar {
        width: 28px;
    }

    ::-webkit-scrollbar-thumb {
        background: hsl(var(--bc) / 0.1);
        border-radius: 14px;
        border: 6px solid hsl(var(--b1) / var(--tw-bg-opacity, 1));
        min-height: 48px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: hsl(var(--bc) / 0.2);
    }
}