name: release

on:
  push:
    branches:
      - release

jobs:
  release:
    runs-on: macos-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v2

    - name: setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 18

    - name: install Rust stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: aarch64-apple-darwin

    - uses: Swatinem/rust-cache@v1
      with:
        working-directory: ./src-tauri
        target-dir: ./src-tauri/target

    - name: download Vosk model
      run: |
        VOSK_MODEL_VERSION=0.22
        curl -LO https://alphacephei.com/vosk/models/vosk-model-ja-$VOSK_MODEL_VERSION.zip
        mkdir ./src-tauri/resources
        mv vosk-model-ja-$VOSK_MODEL_VERSION.zip ./src-tauri/resources
        unzip ./src-tauri/resources/vosk-model-ja-$VOSK_MODEL_VERSION.zip -d ./src-tauri/resources
        rm ./src-tauri/resources/vosk-model-ja-$VOSK_MODEL_VERSION.zip

    - name: install app dependencies and build it
      run: yarn install --frozen-lockfile && yarn build

    - uses: tauri-apps/tauri-action@v0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
        releaseName: "App v__VERSION__"
        releaseBody: "See the assets to download this version and install."
        releaseDraft: true
        prerelease: false
        args: --target universal-apple-darwin
